[Unit]
Description=EPIAI Classifer
[Install]
WantedBy=multi-user.target
[Service]
User=epiai
PermissionsStartOnly=true
ExecStart=/home/epiai/epiai_cls_nondocker/src/app.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755